# Cassandra Class Learning

In [22]:
from platform import  python_version

python_version()

'3.8.0'

In [23]:
pip install cassandra-driver

Requirement already satisfied: cassandra-driver in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (3.25.0)
Requirement already satisfied: six>=1.9 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from cassandra-driver) (1.16.0)
Requirement already satisfied: geomet<0.3,>=0.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: click in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.1.3)
WARNING: You are using pip version 19.2.3, however version 22.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [29]:
import cassandra
print(cassandra.__version__)

3.25.0

**Don't download the bundle file in Safari browser as it automatically unzip the file**

In [30]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
         'secure_connect_bundle': 'secure-connect-cassandradb.zip'
}
auth_provider = PlainTextAuthProvider('gUGIOUaOqFlNpPcxyFtBpBbI', 'AjtXb_I6uscYuzvGMEr,cZT365GdFZx,-14dmh7Sin9QBZ1Npht.EawJLj7M7u2.JbzlXpR4ANs3j,vZPJHmJsLujFzw.kod1WBtp4hoXbpNeKvuSBrlIsf-+jUsRYL-')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
      print(row[0])
else:
      print("An error occurred.")

4.0.0.6816

In [31]:
# Command to use a keyspace
try:
    query = "use test_keyspace"
    session.execute(query)
    print("Inside the keyspace")
except Exception as err:
    print("Exception Occured while using Keyspace : ",err)

Inside the keyspace

In [8]:
try:
    query = "Create keyspace employee_management with replication = {'class': 'SimpleStrategy', 'replication_factor':3}"
    session.execute(query)
    print("Keyspace created Successfully")
except Exception as err:
    print("Exception occured while creating Keyspace: ",err)

Exception occured while creating Keyspace:  Error from server: code=2100 [Unauthorized] message="Missing correct permission on employee_management.: Keyspace management is currently only supported at https://astra.datastax.com/org/d0b38d30-4ee1-441a-9b81-bf8201a46957/database/ea76188d-8db6-4bbd-ba71-3fc92bbe498b"

In [27]:
# Command to Alter the keyspace in Cassandra
try:
    query = "alter keyspace test_keyspace with replication = {'class' : 'SimpleStrategy', 'replication_factor' : 2}"
    session.execute(query)
    print("Keyspace Altered Successfully !!")
except Exception as err:
    print("Exception Occured while altering Keyspace : ",err)

Exception Occured while altering Keyspace :  Error from server: code=2100 [Unauthorized] message="Missing correct permission on test_keyspace.: Keyspace management is currently only supported at https://astra.datastax.com/org/d0b38d30-4ee1-441a-9b81-bf8201a46957/database/ea76188d-8db6-4bbd-ba71-3fc92bbe498b"

In [39]:
# Command to create a table inside a KEyspace
try:
    query = """create table employee(
                emp_id int,
                emp_name varchar,
                emp_salary int,
                emp_dept varchar,
                emp_email varchar,
                emp_phone varchar,
                primary key (emp_id, emp_dept)
              )
            """
    session.execute(query)
    print("Table created inside the keyspace")
except Exception as err:
    print("Exception Occured while creating the table : ",err)

Table created inside the keyspace

In [33]:
try:
    query="""create table result(
        student_id int,
        student_name VARCHAR,
        student_marks int,
        primary key (student_id)
    )
    """
    session.execute(query)
    print("Table created successfully")
except Exception as err:
    print("Exception occured while creating table: ", err)

Table created successfully

In [34]:
# alter the table in cassandra - modifying table is not available in cassandra

try:
    query = """alter table employee modify emp_email text
            """
    session.execute(query)
    print("Table altered successfully")
except Exception as err:
    print("Exception Occured while creating the table : ",err)

Exception Occured while creating the table :  <Error from server: code=2000 [Syntax error in CQL query] message="line 1:21 no viable alternative at input 'modify' (alter table [employee] modify...)">

In [40]:
# alter the table in cassandra - modifying table is not available in cassandra

try:
    query = """alter table employee drop emp_email
            """
    session.execute(query)
    print("Column dropped successfully")
except Exception as err:
    print("Exception Occured while droping the column in the table : ",err)

Column dropped successfully

In [41]:
# adding the emp_email with text dtype
try:
    query = """alter table employee add emp_email text
            """
    session.execute(query)
    print("Table altered successfully")
except Exception as err:
    print("Exception Occured while creating the table : ",err)

Table altered successfully

In [ ]:
# droping the employee table
try:
    query = "drop table employee"
    session.execute(query)
    print("Table dropped successfully")
except Exception as err:
    print("Exception Occured while creating the table : ",err)

In [42]:
# droping the employee table
try:
    query = "insert into employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(1, 'Shashank', 10000, 'Software', 'abc.gmail.com','+91 768467474')"
    
    session.execute(query)
    print("inserted single row successfully")
except Exception as err:
    print("Exception Occured while inserting the row in the table : ",err)

inserted single row successfully

In [46]:
# droping the employee table
try:
    query = """insert into employee values (1, 'Shashank', 10000, 'Software', 'abc.gmail.com','+91 768467474'),
    (2, 'Sunny', 10000, 'Developer', 'mno.gmail.com','+91 768466674'),
    (3, 'Vishal', 10000, 'Administrator', 'xyz.gmail.com','+91 768467774')"""
    
    session.execute(query)
    print("inserted single row successfully")
except Exception as err:
    print("Exception Occured while inserting the row in the table : ",err)

Exception Occured while inserting the row in the table :  <Error from server: code=2000 [Syntax error in CQL query] message="line 1:21 no viable alternative at input 'values' (insert into [employee] values...)">

In [47]:
# Insert data into cassandra table
try:
    query = "insert into employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(2, 'Rahul', 20000, 'IT', 'xyx.gmail.com','+91 908467474')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table: ",err)

Record inserted successfully !!

In [48]:
# Insert data into cassandra table
try:
    query = "insert into employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(3, 'Sunny', 22000, 'HR', 'klm.gmail.com','+91 800067474')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table: ",err)

Record inserted successfully !!

In [49]:

# Insert data into cassandra table
try:
    query = "insert into employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(4, 'Vishal', 30000, 'Software', 'mno.gmail.com','+91 600467474')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table: ",err)

Record inserted successfully !!

In [50]:
# Select query on cassandra table
try:
    query = "select * from employee"
    result = session.execute(query)
    for row in result:
        print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, emp_dept='Software', emp_email='abc.gmail.com', emp_name='Shashank', emp_phone='+91 768467474', emp_salary=10000)
Row(emp_id=2, emp_dept='IT', emp_email='xyx.gmail.com', emp_name='Rahul', emp_phone='+91 908467474', emp_salary=20000)
Row(emp_id=4, emp_dept='Software', emp_email='mno.gmail.com', emp_name='Vishal', emp_phone='+91 600467474', emp_salary=30000)
Row(emp_id=3, emp_dept='HR', emp_email='klm.gmail.com', emp_name='Sunny', emp_phone='+91 800067474', emp_salary=22000)

In [51]:
try:
    query = "Select emp_id, emp_name from employee"
    result = session.execute(query)
    for row in result:
        print("Emp ID : ",row[0]) # row['emp_id'] do not work in cassandra
        print("Emp Name : ",row[1])
except Exception as err:
    print("Exception occured when selecting data from table: ",err)

Emp ID :  1
Emp Name :  Shashank
Emp ID :  2
Emp Name :  Rahul
Emp ID :  4
Emp Name :  Vishal
Emp ID :  3
Emp Name :  Sunny

**Write a query to filter data from cassandra table or how to use where clause**

In [53]:
try:
    query = "Select emp_id, emp_name from employee where emp_name = 'Shashank'"
    result = session.execute(query)
    for row in result:
        print("Emp ID : ",row[0]) # row['emp_id'] do not work in cassandra
        print("Emp Name : ",row[1])
except Exception as err:
    print("Exception occured when selecting data from table: ",err)

Exception occured when selecting data from table:  Error from server: code=2200 [Invalid query] message="Cannot execute this query as it might involve data filtering and thus may have unpredictable performance. If you want to execute this query despite the performance unpredictability, use ALLOW FILTERING"

In [54]:
# Rules for where clause - It can be used effectively with high performance for given below type of coluns
# 1.) Partition key (single or composite)
# OR
# 2.) if Cluster column then it should be with Partition key 
# 3.) A column on which we have applied the index
# 4.) A Column which is not part of partition key or index column or clustering column then we can use where clause but we have use keyword ALLOW FILTERING - it will be a super slow performance when data volumne is vvery high

try:
    query = "Select emp_id, emp_name from employee where emp_name = 'Shashank' ALLOW FILTERING"
    result = session.execute(query)
    for row in result:
        print("Emp ID : ",row[0]) # row['emp_id'] do not work in cassandra
        print("Emp Name : ",row[1])
except Exception as err:
    print("Exception occured when selecting data from table: ",err)

Emp ID :  1
Emp Name :  Shashank

In [55]:
# WHERE Clause for Partition key only or Rule no - 1
try:
    query = "Select emp_id, emp_name from employee where emp_id=2"
    result = session.execute(query)
    for row in result:
        print("Emp ID : ",row[0]) # row['emp_id'] do not work in cassandra
        print("Emp Name : ",row[1])
except Exception as err:
    print("Exception occured when selecting data from table: ",err)

Emp ID :  2
Emp Name :  Rahul

In [56]:
# where clause for clustering key only or Rule no - 2
try:
    query = "Select emp_id, emp_name from employee where emp_dept='Software' and emp_id=1" # sequence matter with composite key i.e partition key, 
    result = session.execute(query)
    for row in result:
        print("Emp ID : ",row[0]) # row['emp_id'] do not work in cassandra
        print("Emp Name : ",row[1])
except Exception as err:
    print("Exception occured when selecting data from table: ",err)

Emp ID :  1
Emp Name :  Shashank

In [ ]:
# we have another composite partition key
primary key ((employeeid, fname), dept)

select * from employee where employeeid = 'x' and dept = 'software' and fname = 'shashank' #wrong query

select * from employee where dept = 'software' and employeeid = 'x' and fname = 'shashank' # correct query as employeeid = 'x' and fname = 'shashank' are in same sequence as we have in query.

In [57]:
# group by in cassandra possible in latest version

try:
    query = "Select sum(emp_salary) as sum_salary from employee group by emp_name" 
    result = session.execute(query)
    for row in result:
        print("Emp ID : ",row[0]) # row['emp_id'] do not work in cassandra
        print("Emp Name : ",row[1])
except Exception as err:
    print("Exception occured when selecting data from table: ",err)

Exception occured when selecting data from table:  Error from server: code=2200 [Invalid query] message="Group by is currently only supported on the columns of the PRIMARY KEY, got emp_name"

In [58]:
# group by in cassandra possible in latest version

try:
    query = "Select sum(emp_salary) as sum_salary from employee group by emp_dept" 
    result = session.execute(query)
    for row in result:
        print("Emp ID : ",row[0]) # row['emp_id'] do not work in cassandra
        print("Emp Name : ",row[1])
except Exception as err:
    print("Exception occured when selecting data from table: ",err)

Exception occured when selecting data from table:  Error from server: code=2200 [Invalid query] message="Group by currently only support groups of columns following their declared order in the PRIMARY KEY"

In [61]:
# group by in cassandra possible in latest version

# Follow given below rules
# Rule - 1 : Use only partition key in the group by
        # OR
# Rule - 2 : If cluster key column is used then follow the actual declared sequence in the primary key
try:
    query = "Select emp_id, sum(emp_salary) as sum_salary from employee group by emp_id" 
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception occured when selecting data from table: ",err)

Row(emp_id=1, sum_salary=10000)

In [63]:
# Rule - 2 : If cluster key column is used then follow the actual declared sequence in the primary key
try:
    query = "Select emp_id, emp_dept, sum(emp_salary) as sum_salary from employee group by emp_id, emp_dept" 
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception occured when selecting data from table: ",err)

Row(emp_id=1, emp_dept='Software', sum_salary=10000)