In [4]:
import pyspark

In [6]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Practice').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/11 08:57:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
df = spark.read.csv('/Users/arunrathi/Projects/ineuron projects/Data-Engineer-learning/Ineuron/MongoDB/Admission.csv')
df.head(5)

[Row(_c0='Serial No.', _c1='GRE Score', _c2='TOEFL Score', _c3='University Rating', _c4='SOP', _c5='LOR ', _c6='CGPA', _c7='Research', _c8='Chance of Admit '),
 Row(_c0='1', _c1='337', _c2='118', _c3='4', _c4='4.5', _c5='4.5', _c6='9.65', _c7='1', _c8='0.92'),
 Row(_c0='2', _c1='324', _c2='107', _c3='4', _c4='4', _c5='4.5', _c6='8.87', _c7='1', _c8='0.76'),
 Row(_c0='3', _c1='316', _c2='104', _c3='3', _c4='3', _c5='3.5', _c6='8', _c7='1', _c8='0.72'),
 Row(_c0='4', _c1='322', _c2='110', _c3='3', _c4='3.5', _c5='2.5', _c6='8.67', _c7='1', _c8='0.8')]

In [8]:
df.show()

+----------+---------+-----------+-----------------+---+----+----+--------+----------------+
|       _c0|      _c1|        _c2|              _c3|_c4| _c5| _c6|     _c7|             _c8|
+----------+---------+-----------+-----------------+---+----+----+--------+----------------+
|Serial No.|GRE Score|TOEFL Score|University Rating|SOP|LOR |CGPA|Research|Chance of Admit |
|         1|      337|        118|                4|4.5| 4.5|9.65|       1|            0.92|
|         2|      324|        107|                4|  4| 4.5|8.87|       1|            0.76|
|         3|      316|        104|                3|  3| 3.5|   8|       1|            0.72|
|         4|      322|        110|                3|3.5| 2.5|8.67|       1|             0.8|
|         5|      314|        103|                2|  2|   3|8.21|       0|            0.65|
|         6|      330|        115|                5|4.5|   3|9.34|       1|             0.9|
|         7|      321|        109|                3|  3|   4| 8.2|       1|            0.75|
|         8|      308|        101|                2|  3|   4| 7.9|       0|            0.68|
|         9|      302|        102|                1|  2| 1.5|   8|       0|             0.5|
|        10|      323|        108|                3|3.5|   3| 8.6|       0|            0.45|
|        11|      325|        106|                3|3.5|   4| 8.4|       1|            0.52|
|        12|      327|        111|                4|  4| 4.5|   9|       1|            0.84|
|        13|      328|        112|                4|  4| 4.5| 9.1|       1|            0.78|
|        14|      307|        109|                3|  4|   3|   8|       1|            0.62|
|        15|      311|        104|                3|3.5|   2| 8.2|       1|            0.61|
|        16|      314|        105|                3|3.5| 2.5| 8.3|       0|            0.54|
|        17|      317|        107|                3|  4|   3| 8.7|       0|            0.66|
|        18|      319|        106|                3|  4|   3|   8|       1|            0.65|
|        19|      318|        110|                3|  4|   3| 8.8|       0|            0.63|
+----------+---------+-----------+-----------------+---+----+----+--------+----------------+
only showing top 20 rows

In [9]:
pwd

'/Users/arunrathi/Projects/ineuron projects/Data-Engineer-learning/Big Data/PySpark'

In [18]:
# Method 1 - To consider first row as header
#df = spark.read.option('header', 'true')\
#    .csv('/Users/arunrathi/Projects/ineuron projects/Data-Engineer-learning/Ineuron/MongoDB/Admission.csv')

# Method2
df = spark.read.csv('/Users/arunrathi/Projects/ineuron projects/Data-Engineer-learning/Ineuron/MongoDB/Admission.csv', sep=',', header=True)
df.show()

+----------+---------+-----------+-----------------+---+----+----+--------+----------------+
|Serial No.|GRE Score|TOEFL Score|University Rating|SOP|LOR |CGPA|Research|Chance of Admit |
+----------+---------+-----------+-----------------+---+----+----+--------+----------------+
|         1|      337|        118|                4|4.5| 4.5|9.65|       1|            0.92|
|         2|      324|        107|                4|  4| 4.5|8.87|       1|            0.76|
|         3|      316|        104|                3|  3| 3.5|   8|       1|            0.72|
|         4|      322|        110|                3|3.5| 2.5|8.67|       1|             0.8|
|         5|      314|        103|                2|  2|   3|8.21|       0|            0.65|
|         6|      330|        115|                5|4.5|   3|9.34|       1|             0.9|
|         7|      321|        109|                3|  3|   4| 8.2|       1|            0.75|
|         8|      308|        101|                2|  3|   4| 7.9|       0|            0.68|
|         9|      302|        102|                1|  2| 1.5|   8|       0|             0.5|
|        10|      323|        108|                3|3.5|   3| 8.6|       0|            0.45|
|        11|      325|        106|                3|3.5|   4| 8.4|       1|            0.52|
|        12|      327|        111|                4|  4| 4.5|   9|       1|            0.84|
|        13|      328|        112|                4|  4| 4.5| 9.1|       1|            0.78|
|        14|      307|        109|                3|  4|   3|   8|       1|            0.62|
|        15|      311|        104|                3|3.5|   2| 8.2|       1|            0.61|
|        16|      314|        105|                3|3.5| 2.5| 8.3|       0|            0.54|
|        17|      317|        107|                3|  4|   3| 8.7|       0|            0.66|
|        18|      319|        106|                3|  4|   3|   8|       1|            0.65|
|        19|      318|        110|                3|  4|   3| 8.8|       0|            0.63|
|        20|      303|        102|                3|3.5|   3| 8.5|       0|            0.62|
+----------+---------+-----------+-----------------+---+----+----+--------+----------------+
only showing top 20 rows

In [19]:
df.printSchema()

root
 |-- Serial No.: string (nullable = true)
 |-- GRE Score: string (nullable = true)
 |-- TOEFL Score: string (nullable = true)
 |-- University Rating: string (nullable = true)
 |-- SOP: string (nullable = true)
 |-- LOR : string (nullable = true)
 |-- CGPA: string (nullable = true)
 |-- Research: string (nullable = true)
 |-- Chance of Admit : string (nullable = true)

In [44]:
from pyspark.sql.types import *

data_schema = [
    StructField('Serial No.', IntegerType(), True),
    StructField('GRE Score', IntegerType(), True),
    StructField('TOEFL Score', IntegerType(), True),
    StructField('University Rating', IntegerType(), True),
    StructField('SOP', FloatType(), True),
    StructField('LOR ', FloatType(), True),
    StructField('CGPA', FloatType(), True),
    StructField('Research', IntegerType(), True),
    StructField('Chance of Admit ', FloatType(), True)
]

final_struc = StructType(fields=data_schema)

In [45]:
df_with_schema = spark.read.csv('/Users/arunrathi/Projects/ineuron projects/Data-Engineer-learning/Ineuron/MongoDB/Admission.csv',
sep=',', header = True, schema = final_struc)

df_with_schema.printSchema()

root
 |-- Serial No.: integer (nullable = true)
 |-- GRE Score: integer (nullable = true)
 |-- TOEFL Score: integer (nullable = true)
 |-- University Rating: integer (nullable = true)
 |-- SOP: float (nullable = true)
 |-- LOR : float (nullable = true)
 |-- CGPA: float (nullable = true)
 |-- Research: integer (nullable = true)
 |-- Chance of Admit : float (nullable = true)

In [46]:
df_with_schema.describe().show()

+-------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+-------------------+-------------------+
|summary|        Serial No.|         GRE Score|      TOEFL Score| University Rating|              SOP|              LOR |              CGPA|           Research|   Chance of Admit |
+-------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+-------------------+-------------------+
|  count|               400|               400|              400|               400|              400|               400|               400|                400|                400|
|   mean|             200.5|          316.8075|           107.41|            3.0875|              3.4|            3.4525| 8.598925005197525|             0.5475| 0.7243499991297722|
| stddev|115.61430130683084|11.473646113500488|6.069513777374134|1.1437281298838986|1.006868641458697|0.8984775482792569|0.5963170789619662|0.49836197853983155|0.14260933092847422|
|    min|                 1|               290|               92|                 1|              1.0|               1.0|               6.8|                  0|               0.34|
|    max|               400|               340|              120|                 5|              5.0|               5.0|              9.92|                  1|               0.97|
+-------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+-------------------+-------------------+

### Columns Manipulation

In [47]:
from datetime import datetime
from pyspark.sql.functions import col, lit, current_timestamp

In [48]:
dt = datetime.now().strftime("%d/%m/%Y %H:%M:%S")

In [49]:
data = df_with_schema.withColumn('date', current_timestamp())

In [50]:
data.head(5)

[Row(Serial No.=1, GRE Score=337, TOEFL Score=118, University Rating=4, SOP=4.5, LOR =4.5, CGPA=9.649999618530273, Research=1, Chance of Admit =0.9200000166893005, date=datetime.datetime(2022, 12, 11, 9, 31, 36, 851681)),
 Row(Serial No.=2, GRE Score=324, TOEFL Score=107, University Rating=4, SOP=4.0, LOR =4.5, CGPA=8.869999885559082, Research=1, Chance of Admit =0.7599999904632568, date=datetime.datetime(2022, 12, 11, 9, 31, 36, 851681)),
 Row(Serial No.=3, GRE Score=316, TOEFL Score=104, University Rating=3, SOP=3.0, LOR =3.5, CGPA=8.0, Research=1, Chance of Admit =0.7200000286102295, date=datetime.datetime(2022, 12, 11, 9, 31, 36, 851681)),
 Row(Serial No.=4, GRE Score=322, TOEFL Score=110, University Rating=3, SOP=3.5, LOR =2.5, CGPA=8.670000076293945, Research=1, Chance of Admit =0.800000011920929, date=datetime.datetime(2022, 12, 11, 9, 31, 36, 851681)),
 Row(Serial No.=5, GRE Score=314, TOEFL Score=103, University Rating=2, SOP=2.0, LOR =3.0, CGPA=8.210000038146973, Research=0, Chance of Admit =0.6499999761581421, date=datetime.datetime(2022, 12, 11, 9, 31, 36, 851681))]

In [ ]:
data.show(5)

In [52]:
data = data.withColumnRenamed('date', 'last_updated_datetime')
data.show(5)

+----------+---------+-----------+-----------------+---+----+----+--------+----------------+---------------------+
|Serial No.|GRE Score|TOEFL Score|University Rating|SOP|LOR |CGPA|Research|Chance of Admit |last_updated_datetime|
+----------+---------+-----------+-----------------+---+----+----+--------+----------------+---------------------+
|         1|      337|        118|                4|4.5| 4.5|9.65|       1|            0.92| 2022-12-11 09:33:...|
|         2|      324|        107|                4|4.0| 4.5|8.87|       1|            0.76| 2022-12-11 09:33:...|
|         3|      316|        104|                3|3.0| 3.5| 8.0|       1|            0.72| 2022-12-11 09:33:...|
|         4|      322|        110|                3|3.5| 2.5|8.67|       1|             0.8| 2022-12-11 09:33:...|
|         5|      314|        103|                2|2.0| 3.0|8.21|       0|            0.65| 2022-12-11 09:33:...|
+----------+---------+-----------+-----------------+---+----+----+--------+----------------+---------------------+
only showing top 5 rows

In [53]:
data = data.drop('last_updated_datetime')
data.show(5)

+----------+---------+-----------+-----------------+---+----+----+--------+----------------+
|Serial No.|GRE Score|TOEFL Score|University Rating|SOP|LOR |CGPA|Research|Chance of Admit |
+----------+---------+-----------+-----------------+---+----+----+--------+----------------+
|         1|      337|        118|                4|4.5| 4.5|9.65|       1|            0.92|
|         2|      324|        107|                4|4.0| 4.5|8.87|       1|            0.76|
|         3|      316|        104|                3|3.0| 3.5| 8.0|       1|            0.72|
|         4|      322|        110|                3|3.5| 2.5|8.67|       1|             0.8|
|         5|      314|        103|                2|2.0| 3.0|8.21|       0|            0.65|
+----------+---------+-----------+-----------------+---+----+----+--------+----------------+
only showing top 5 rows

### Querying Data
* Select
* filter
* Between
* When
* Like
* GroupBy
* Aggregations

In [55]:
# Select

data.select('Chance of Admit ').show(5)

+----------------+
|Chance of Admit |
+----------------+
|            0.92|
|            0.76|
|            0.72|
|             0.8|
|            0.65|
+----------------+
only showing top 5 rows

In [57]:
data.select(['SOP', 'LOR ', 'Chance of Admit ']).show(5)

+---+----+----------------+
|SOP|LOR |Chance of Admit |
+---+----+----------------+
|4.5| 4.5|            0.92|
|4.0| 4.5|            0.76|
|3.0| 3.5|            0.72|
|3.5| 2.5|             0.8|
|2.0| 3.0|            0.65|
+---+----+----------------+
only showing top 5 rows

In [58]:
# lit - used to add a new column to the DataFrame by assigning a literal or constant value.

data = data.withColumn('DateTime', lit(dt))
data.show(5)

+----------+---------+-----------+-----------------+---+----+----+--------+----------------+-------------------+
|Serial No.|GRE Score|TOEFL Score|University Rating|SOP|LOR |CGPA|Research|Chance of Admit |           DateTime|
+----------+---------+-----------+-----------------+---+----+----+--------+----------------+-------------------+
|         1|      337|        118|                4|4.5| 4.5|9.65|       1|            0.92|11/12/2022 09:31:32|
|         2|      324|        107|                4|4.0| 4.5|8.87|       1|            0.76|11/12/2022 09:31:32|
|         3|      316|        104|                3|3.0| 3.5| 8.0|       1|            0.72|11/12/2022 09:31:32|
|         4|      322|        110|                3|3.5| 2.5|8.67|       1|             0.8|11/12/2022 09:31:32|
|         5|      314|        103|                2|2.0| 3.0|8.21|       0|            0.65|11/12/2022 09:31:32|
+----------+---------+-----------+-----------------+---+----+----+--------+----------------+-------------------+
only showing top 5 rows

In [60]:
# Filter
# AND(&), OR(|), NOT(~)

data.filter( (col('GRE Score') >= 330) & (col('CGPA')>=8.5)).show(5)

+----------+---------+-----------+-----------------+---+----+----+--------+----------------+-------------------+
|Serial No.|GRE Score|TOEFL Score|University Rating|SOP|LOR |CGPA|Research|Chance of Admit |           DateTime|
+----------+---------+-----------+-----------------+---+----+----+--------+----------------+-------------------+
|         1|      337|        118|                4|4.5| 4.5|9.65|       1|            0.92|11/12/2022 09:31:32|
|         6|      330|        115|                5|4.5| 3.0|9.34|       1|             0.9|11/12/2022 09:31:32|
|        24|      334|        119|                5|5.0| 4.5| 9.7|       1|            0.95|11/12/2022 09:31:32|
|        25|      336|        119|                5|4.0| 3.5| 9.8|       1|            0.97|11/12/2022 09:31:32|
|        26|      340|        120|                5|4.5| 4.5| 9.6|       1|            0.94|11/12/2022 09:31:32|
+----------+---------+-----------+-----------------+---+----+----+--------+----------------+-------------------+
only showing top 5 rows

In [74]:
# Between

data.filter(data['GRE Score'].between(330,335)).show(5)

+----------+---------+-----------+-----------------+---+----+----+--------+----------------+-------------------+
|Serial No.|GRE Score|TOEFL Score|University Rating|SOP|LOR |CGPA|Research|Chance of Admit |           DateTime|
+----------+---------+-----------+-----------------+---+----+----+--------+----------------+-------------------+
|         6|      330|        115|                5|4.5| 3.0|9.34|       1|             0.9|11/12/2022 09:31:32|
|        24|      334|        119|                5|5.0| 4.5| 9.7|       1|            0.95|11/12/2022 09:31:32|
|        35|      331|        112|                5|4.0| 5.0| 9.8|       1|            0.94|11/12/2022 09:31:32|
|        44|      332|        117|                4|4.5| 4.0| 9.1|       0|            0.87|11/12/2022 09:31:32|
|        53|      334|        116|                4|4.0| 3.0| 8.0|       1|            0.78|11/12/2022 09:31:32|
+----------+---------+-----------+-----------------+---+----+----+--------+----------------+-------------------+
only showing top 5 rows

In [77]:
# when
import pyspark.sql.functions as f
data.select('TOEFL Score', 'GRE Score', f.when(data['CGPA'] >= 9, 1).otherwise(0)).show(5)

+-----------+---------+---------------------------------------+
|TOEFL Score|GRE Score|CASE WHEN (CGPA >= 9) THEN 1 ELSE 0 END|
+-----------+---------+---------------------------------------+
|        118|      337|                                      1|
|        107|      324|                                      0|
|        104|      316|                                      0|
|        110|      322|                                      0|
|        103|      314|                                      0|
+-----------+---------+---------------------------------------+
only showing top 5 rows

In [80]:
data.show(5)

+----------+---------+-----------+-----------------+---+----+----+--------+----------------+-------------------+-------------+
|Serial No.|GRE Score|TOEFL Score|University Rating|SOP|LOR |CGPA|Research|Chance of Admit |           DateTime| College_name|
+----------+---------+-----------+-----------------+---+----+----+--------+----------------+-------------------+-------------+
|         1|      337|        118|                4|4.5| 4.5|9.65|       1|            0.92|11/12/2022 09:31:32|My_University|
|         2|      324|        107|                4|4.0| 4.5|8.87|       1|            0.76|11/12/2022 09:31:32|My_University|
|         3|      316|        104|                3|3.0| 3.5| 8.0|       1|            0.72|11/12/2022 09:31:32|My_University|
|         4|      322|        110|                3|3.5| 2.5|8.67|       1|             0.8|11/12/2022 09:31:32|My_University|
|         5|      314|        103|                2|2.0| 3.0|8.21|       0|            0.65|11/12/2022 09:31:32|My_University|
+----------+---------+-----------+-----------------+---+----+----+--------+----------------+-------------------+-------------+
only showing top 5 rows

In [81]:
data = data.withColumn('College_name', lit('My_University'))
# Like - SAME AS SQL LIKE Operation
data.select('College_name', data.College_name.rlike('^[M,y]').alias('College starting with M or y')).distinct().show(5)

+-------------+----------------------------+
| College_name|College starting with M or y|
+-------------+----------------------------+
|My_University|                        true|
+-------------+----------------------------+

In [83]:
# Group By

data.select(['GRE Score', 'TOEFL Score', 'College_name']).groupBy('College_name').mean().show()

+-------------+--------------+----------------+
| College_name|avg(GRE Score)|avg(TOEFL Score)|
+-------------+--------------+----------------+
|My_University|      316.8075|          107.41|
+-------------+--------------+----------------+

In [ ]:
# Write/Save Data to File

data.write.csv('my_dataset.csv')

data.write.json('my_dataset.json')

In [86]:
data.select(['College_name', 'GRE Score', 'TOEFL Score']).write.csv('col_dataset.csv')

In [87]:
spark

22/12/12 00:44:32 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 1060147 ms exceeds timeout 120000 ms
22/12/12 00:44:32 WARN SparkContext: Killing executors is not supported by current scheduler.

In [88]:
data.show(5)

+----------+---------+-----------+-----------------+---+----+----+--------+----------------+-------------------+-------------+
|Serial No.|GRE Score|TOEFL Score|University Rating|SOP|LOR |CGPA|Research|Chance of Admit |           DateTime| College_name|
+----------+---------+-----------+-----------------+---+----+----+--------+----------------+-------------------+-------------+
|         1|      337|        118|                4|4.5| 4.5|9.65|       1|            0.92|11/12/2022 09:31:32|My_University|
|         2|      324|        107|                4|4.0| 4.5|8.87|       1|            0.76|11/12/2022 09:31:32|My_University|
|         3|      316|        104|                3|3.0| 3.5| 8.0|       1|            0.72|11/12/2022 09:31:32|My_University|
|         4|      322|        110|                3|3.5| 2.5|8.67|       1|             0.8|11/12/2022 09:31:32|My_University|
|         5|      314|        103|                2|2.0| 3.0|8.21|       0|            0.65|11/12/2022 09:31:32|My_University|
+----------+---------+-----------+-----------------+---+----+----+--------+----------------+-------------------+-------------+
only showing top 5 rows

In [93]:
data.createOrReplaceTempView('Admission')
df2 = spark.sql('Select * from Admission')
df2.count()

400

:

In [90]:
df2.head()

Row(Serial No.=1, GRE Score=337, TOEFL Score=118, University Rating=4, SOP=4.5, LOR =4.5, CGPA=9.649999618530273, Research=1, Chance of Admit =0.9200000166893005, DateTime='11/12/2022 09:31:32', College_name='My_University')

In [91]:
df2 = spark.sql('Select * from Admission where CGPA > 9')
df2.head()

Row(Serial No.=1, GRE Score=337, TOEFL Score=118, University Rating=4, SOP=4.5, LOR =4.5, CGPA=9.649999618530273, Research=1, Chance of Admit =0.9200000166893005, DateTime='11/12/2022 09:31:32', College_name='My_University')

In [92]:
df2.count()

113