In [8]:
import pymongo

# Provide the mongodb localhost url to connect python to mongodb.
client = pymongo.MongoClient("mongodb://localhost:27017/neurolabDB")

# Database Name
dataBase = client["neurolabDB"]

In [19]:
client.list_database_names()

['admin', 'analyticsInterview', 'config', 'local', 'neurolabDB']

In [13]:
collection = dataBase['Demo']

In [20]:
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'neurolabDB'), 'Demo')

In [15]:
my_row = {'Serial No': '9998',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [21]:
col = collection.insert_one(my_row)

In [ ]:
col.inserted_id

In [22]:
records = collection.find()
print(records)

<pymongo.cursor.Cursor object at 0x10b9aed00>

In [23]:
for val in records:
    print(val)

{'_id': ObjectId('638ef5a1a3adc90649824ad1'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [24]:
# list of documents
rows = [{'Serial No': '9998',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'},
 {'Serial No': '9999',
 'GRE Score': '320',
 'TOEFL Score': '110',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'},
 {'Serial No': '10000',
 'GRE Score': '336',
 'TOEFL Score': '108',
 'University Rating': '3.5',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}]

In [25]:
collection.insert_many(rows)

In [26]:
for val in collection.find():
    print(val)

{'_id': ObjectId('638ef5a1a3adc90649824ad1'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('638efe31a3adc90649824ad2'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('638efe31a3adc90649824ad3'), 'Serial No': '9999', 'GRE Score': '320', 'TOEFL Score': '110', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('638efe31a3adc90649824ad4'), 'Serial No': '10000', 'GRE Score': '336', 'TOEFL Score': '108', 'University Rating': '3.5', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [27]:
res = collection.find()
res[1] #indexing can be used to check any document details

{'_id': ObjectId('638efe31a3adc90649824ad2'),
 'Serial No': '9998',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [28]:
# to limit the no of records fetched from collection
res = collection.find().limit(2)

In [29]:
for val in res:
    print(val)

{'_id': ObjectId('638ef5a1a3adc90649824ad1'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('638efe31a3adc90649824ad2'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [32]:
# to only get the few key details in result
res = collection.find({}, {'Serial No', 'GRE Score', 'Research'})
for val in res:
    print(val)

{'_id': ObjectId('638ef5a1a3adc90649824ad1'), 'Serial No': '9998', 'GRE Score': '337', 'Research': '1'}
{'_id': ObjectId('638efe31a3adc90649824ad2'), 'Serial No': '9998', 'GRE Score': '337', 'Research': '1'}
{'_id': ObjectId('638efe31a3adc90649824ad3'), 'Serial No': '9999', 'GRE Score': '320', 'Research': '1'}
{'_id': ObjectId('638efe31a3adc90649824ad4'), 'Serial No': '10000', 'GRE Score': '336', 'Research': '1'}

In [33]:
# to find the records as per query
my_query = {'GRE Score':'337'}
result_gre = collection.find(my_query)
for val in result_gre:
    print(val)

{'_id': ObjectId('638ef5a1a3adc90649824ad1'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('638efe31a3adc90649824ad2'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

### Filter Operations

In [37]:
# to find the records which have gre score more than 337
# using filter for this purpose
my_query = {'GRE Score':{'$gt':'330'}}
result_gt = collection.find(my_query)
for val in result_gt:
    print(val)

{'_id': ObjectId('638ef5a1a3adc90649824ad1'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('638efe31a3adc90649824ad2'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('638efe31a3adc90649824ad4'), 'Serial No': '10000', 'GRE Score': '336', 'TOEFL Score': '108', 'University Rating': '3.5', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

### Sorting Operations

In [38]:
result_all = collection.find()

In [39]:
res_sort = collection.find().sort('GRE Score')
for val in res_sort:
    print(val)

{'_id': ObjectId('638efe31a3adc90649824ad3'), 'Serial No': '9999', 'GRE Score': '320', 'TOEFL Score': '110', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('638efe31a3adc90649824ad4'), 'Serial No': '10000', 'GRE Score': '336', 'TOEFL Score': '108', 'University Rating': '3.5', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('638ef5a1a3adc90649824ad1'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('638efe31a3adc90649824ad2'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [43]:
# in descending order
res_sort = collection.find().sort('GRE Score',-1)
for val in res_sort:
    print(val)

{'_id': ObjectId('638ef5a1a3adc90649824ad1'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('638efe31a3adc90649824ad2'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('638efe31a3adc90649824ad3'), 'Serial No': '9999', 'GRE Score': '320', 'TOEFL Score': '110', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

### Delete Operation

In [41]:
my_query = {'GRE Score':'336'}
x = collection.delete_one(my_query)
x.deleted_count

1

In [44]:
for val in res_sort:
    print(val)

### Update operation

In [54]:
# update the records
my_record = {'GRE Score': '337'}
new_value = {"$set":{"GRE Score":"345"} }

In [59]:
y = collection.update_many(my_record, new_value)

In [60]:
y.modified_count

2

In [61]:
res = collection.find()
for val in res:
    print(val)

{'_id': ObjectId('638ef5a1a3adc90649824ad1'), 'Serial No': '9998', 'GRE Score': '345', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('638efe31a3adc90649824ad2'), 'Serial No': '9998', 'GRE Score': '345', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('638efe31a3adc90649824ad3'), 'Serial No': '9999', 'GRE Score': '320', 'TOEFL Score': '110', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [69]:
import pandas as pd

df = pd.read_csv('./Admission.csv')

In [75]:
df.head(5)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

### Task - for above dataset
1. Create a database admission
2. Create a collection addmission_details
3. You have to dump this df to mongodb collection

#google form for submission

https://forms.gle/Cw7552m8TWTyauG28