### Task - for above dataset
1. Create a database admission
2. Create a collection addmission_details
3. You have to dump this df to mongodb collection

#google form for submission

https://forms.gle/Cw7552m8TWTyauG28

In [1]:
import pymongo

client = pymongo.MongoClient('mongodb://localhost:27017/admission')

In [2]:
database = client['admission']

In [3]:
client.list_database_names()

['admin', 'analyticsInterview', 'config', 'local', 'neurolabDB']

In [4]:
collection = database['admission_details']

In [8]:
import pandas as pd

df = pd.read_csv('./Admission.csv')

In [9]:
df.head(5)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [ ]:
collection.insert_many(df[:5].to_dict("admission"))

In [16]:
df.reset_index(inplace=True)
data_dict = df.to_dict("records")
collection.insert_many(data_dict)

In [18]:
res = collection.find().limit(10)
for val in res:
    print(val)

{'_id': ObjectId('6390266e30d118c44fa351f6'), 'level_0': 0, 'index': 0, 'Serial No.': 1, 'GRE Score': 337, 'TOEFL Score': 118, 'University Rating': 4, 'SOP': 4.5, 'LOR ': 4.5, 'CGPA': 9.65, 'Research': 1, 'Chance of Admit ': 0.92}
{'_id': ObjectId('6390266e30d118c44fa351f7'), 'level_0': 1, 'index': 1, 'Serial No.': 2, 'GRE Score': 324, 'TOEFL Score': 107, 'University Rating': 4, 'SOP': 4.0, 'LOR ': 4.5, 'CGPA': 8.87, 'Research': 1, 'Chance of Admit ': 0.76}
{'_id': ObjectId('6390266e30d118c44fa351f8'), 'level_0': 2, 'index': 2, 'Serial No.': 3, 'GRE Score': 316, 'TOEFL Score': 104, 'University Rating': 3, 'SOP': 3.0, 'LOR ': 3.5, 'CGPA': 8.0, 'Research': 1, 'Chance of Admit ': 0.72}
{'_id': ObjectId('6390266e30d118c44fa351f9'), 'level_0': 3, 'index': 3, 'Serial No.': 4, 'GRE Score': 322, 'TOEFL Score': 110, 'University Rating': 3, 'SOP': 3.5, 'LOR ': 2.5, 'CGPA': 8.67, 'Research': 1, 'Chance of Admit ': 0.8}
{'_id': ObjectId('6390266e30d118c44fa351fa'), 'level_0': 4, 'index': 4, 'Serial No.': 5, 'GRE Score': 314, 'TOEFL Score': 103, 'University Rating': 2, 'SOP': 2.0, 'LOR ': 3.0, 'CGPA': 8.21, 'Research': 0, 'Chance of Admit ': 0.65}
{'_id': ObjectId('6390266e30d118c44fa351fb'), 'level_0': 5, 'index': 5, 'Serial No.': 6, 'GRE Score': 330, 'TOEFL Score': 115, 'University Rating': 5, 'SOP': 4.5, 'LOR ': 3.0, 'CGPA': 9.34, 'Research': 1, 'Chance of Admit ': 0.9}
{'_id': ObjectId('6390266e30d118c44fa351fc'), 'level_0': 6, 'index': 6, 'Serial No.': 7, 'GRE Score': 321, 'TOEFL Score': 109, 'University Rating': 3, 'SOP': 3.0, 'LOR ': 4.0, 'CGPA': 8.2, 'Research': 1, 'Chance of Admit ': 0.75}
{'_id': ObjectId('6390266e30d118c44fa351fd'), 'level_0': 7, 'index': 7, 'Serial No.': 8, 'GRE Score': 308, 'TOEFL Score': 101, 'University Rating': 2, 'SOP': 3.0, 'LOR ': 4.0, 'CGPA': 7.9, 'Research': 0, 'Chance of Admit ': 0.68}
{'_id': ObjectId('6390266e30d118c44fa351fe'), 'level_0': 8, 'index': 8, 'Serial No.': 9, 'GRE Score': 302, 'TOEFL Score': 102, 'University Rating': 1, 'SOP': 2.0, 'LOR ': 1.5, 'CGPA': 8.0, 'Research': 0, 'Chance of Admit ': 0.5}
{'_id': ObjectId('6390266e30d118c44fa351ff'), 'level_0': 9, 'index': 9, 'Serial No.': 10, 'GRE Score': 323, 'TOEFL Score': 108, 'University Rating': 3, 'SOP': 3.5, 'LOR ': 3.0, 'CGPA': 8.6, 'Research': 0, 'Chance of Admit ': 0.45}